/* Dark mode colors. */
:root {
	--sl-color-accent-low: #29202c;
	--sl-color-accent: #7c5c86;
	--sl-color-accent-high: #d0c4d3;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #d8f5f0;
	--sl-color-gray-2: #a7cbc5;
	--sl-color-gray-3: #509b91;
	--sl-color-gray-4: #10665d;
	--sl-color-gray-5: #00423c;
	--sl-color-gray-6: #002e29;
	--sl-color-black: #001e1a;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #dcd3df;
	--sl-color-accent: #7e5e88;
	--sl-color-accent-high: #3a2c3f;
	--sl-color-white: #001e1a;
	--sl-color-gray-1: #002e29;
	--sl-color-gray-2: #00423c;
	--sl-color-gray-3: #10665d;
	--sl-color-gray-4: #509b91;
	--sl-color-gray-5: #a7cbc5;
	--sl-color-gray-6: #d8f5f0;
	--sl-color-gray-7: #ecfaf7;
	--sl-color-black: #ffffff;
}